.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 8px 24px;
}
.headerMenu {
    margin: 10px;
}

.flex {
    display: flex;
}